@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");
html, body {
    height: 100%;
}

body {
    background: beige;
    font-family: Alegreya Sans, sans-serif;
}

nav {
    display: block;
    position: fixed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate3d(25px, -25px, 0);
    transform: translate3d(25px, -25px, 0);
    transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.closed {
    width: 150px;
    height: 150px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
nav.top-right2 {
    top: 30px;
    right: 30px;
}
nav.open {
    width: 600px;
    height: 600px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
nav.top-right {
    top: -200px;
    right: -200px;
}

.disc {
    position: absolute;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font: 25px Alegreya Sans, sans-serif;
    line-height: 25px;
    padding-top: 10px;
    border-radius: 350px;
    -webkit-transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
.disc div {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.open .disc {
    pointer-events: auto;
    opacity: 1;
}
.l0 {
    top: -40px;
    left: -40px;
    right: -40px;
    bottom: -40px;
    background: #ff493f;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l0 {
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l0:hover {
    background: black;
    color: #ff493f;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l0:active {
    background: shade(ff493f, 50%);
    color: tomato;
}
.open .l0.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l1 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: tomato;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.open .l1 {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l1:hover {
    background: black;
    color: tomato;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l1:active {
    background: shade(tomato, 50%);
    color: tomato;
}
.open .l1.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l2 {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background: #ff7a39;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.open .l2 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l2:hover {
    background: black;
    color: #ff7a39;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l2:active {
    background: shade(#ff7a39, 50%);
    color: #ff7a39;
}
.open .l2.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l3 {
    top: 80px;
    left: 80px;
    right: 80px;
    bottom: 80px;
    background: #ff912b;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.open .l3 {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l3:hover {
    background: black;
    color: #ff912b;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l3:active {
    background: shade(#ff912b, 50%);
    color: #ff912b;
}
.open .l3.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}
.l4 {
    top: 120px;
    left: 120px;
    right: 120px;
    bottom: 120px;
    background: #ffa029;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.open .l4 {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l4:hover {
    background: black;
    color: #ffa029;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l4:active {
    background: shade(#ffa029, 50%);
    color: #ff912b;
}
.open .l4.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}
.l5 {
    top: 160px;
    left: 160px;
    right: 160px;
    bottom: 160px;
    background: #ffb837;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.open .l5 {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l5:hover {
    background: black;
    color: #ffb837;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l5:active {
    background: shade(#ffb837, 50%);
    color: #ff912b;
}
.open .l5.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}
.l6 {
    top: 200px;
    left: 200px;
    right: 200px;
    bottom: 200px;
    background: #ffc72e;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.open .l6 {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l6:hover {
    background: black;
    color: #ffc72e;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0s;
}
.open .l6:active {
    background: shade(#ffc72e, 50%);
    color: #ff912b;
}
.open .l6.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg);
}

.l7 {
    top: 240px;
    left: 240px;
    right: 240px;
    bottom: 240px;
    background: #ffc00e;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.open .l7 {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.open .l7:hover {
    background: black;
    color: #ffc00e;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .l7:active {
    background: black;
    color: #ffc00e;
}
.open .l7.toggle {
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 10deg);
    text-decoration: none;
}





.l8 {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    background: #ffc00e;
    color:black;
    text-decoration: none;
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.closed .l8 {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1;
}
.closed .l8:hover {
    background: black;
    color: #ffc00e;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.closed .l8:active {
    background: black;
    color: #ffc00e;
}
.closed .l8.toggle {
    -webkit-transform: rotate3d(0, 0, 1, 10deg);
    transform: rotate3d(0, 0, 1, 10deg);
    text-decoration: none;
}
.toggle {
    line-height: 120px;
    padding: 0;
    background: gold;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.open .toggle {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
}
.toggle:hover {
    background: black;
    color: gold;
}
.toggle:active {
    background: shade(gold, 50%);
    color: rgba(255, 215, 0, 0.5);
    transition-duration: 0s;
}
